

.App{

text-align: center;
height:100%;

margin: 5%;

}
.form{

  border:1px solid rgb(7, 7, 18);
  box-shadow: 5px 10px 10px 5px rgb(112, 106, 106);
  padding:2%;
  margin-top: 5%;
  background-color: rgba(44, 31, 31, 0.779);
margin-left: 8%;
margin-right: 8%;
transition: transform 2s ease, opacity 2s ease;

padding: 10%;




}

.box{
text-align: left;
border:5px;
overflow-x: scroll;
cursor: pointer;

box-shadow: 10px 10px 20px 20px rgb(147, 141, 141);
margin-left: 8%;
margin-right: 8%;
opacity: 4;
padding-top: 5%;
padding: 5%;
border-radius: 30px;

}
.box:hover{
  transform: scale(1.08); 

  transition: 4s;
}

/* 
.App{
animation-name:check;
animation-duration: 5s;
transition: 0.05s;
background-image: linear-gradient(rgba(18, 18, 23, 0.205),rgba(79, 78, 78, 0.452),rgb(23, 25, 27));
animation-iteration-count:infinite;
height: 100%;

} */
/* @keyframes check{
  0%{
   background-image: linear-gradient(rgb(34, 34, 220),pink,violet);
  }
  100%{

    
  }

} */